body {
    background-image: url("bg3.png");
  }

h2 {
      font-family: 'Courier New', Courier, monospace
       
  }
#show{
  text-align : "center"
}

header {
  position: relative;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 1px 1px;
  text-align: center;
  width: 100%;
}

footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(127, 225, 255);
   color: rgba(7, 7, 7, 0.973);
   text-align: center;
}

/*ul{
  list-style: none;
}*/
